@font-face {
    font-family: "Merriweather-Regular" !important;
    src: url(../Merriweather/Merriweather-Regular.ttf) format("truetype") !important;
}


* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Merriweather-Regular" !important;
}

.sup {
    align-content: center;
}

.ajout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC2121;
    width: 25%;
    height: 70px;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    color: #fff;
}



@media screen and (max-width : 679px) {
    .ajout {
        width: 50%;
    }
}

    
.container .formu p {
    background-color: #FC2121 !important;
    width: 90px;
    height: 80px;
    position: relative;
    bottom: 25px;
    left: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid black;
    
}



::placeholder {
    color :rgb(255, 255, 255);
    position: relative;
    left: 20px;
    
}
input {
    color: #fff;
    width: 300px;
}

.element {
    font-size: 1.5em;
    height: 80px;
    width: 35%;
}

.container .formu  img {
    position: relative;
    top: 16px;
    left: 20px;
    
}

input[type=submit] {
    color: #fff;
    font-size: 25px;
}




#numi , .element , #naissi {
    background-color: #CC767F;
    position: relative;
    bottom: 4px;
}
#maili , #aboni , #numi  {
    position: relative;
    left: 95px;
    bottom: 4px;
    background-color: #CC767F;
    color: #fff;

}

#mail , #num , #abon {
    position: relative;
    left: 100px;
}




@media screen and (max-width : 679px) {
    .container .formu p {
        width: 90px;
        height: 70px;
        position: relative;
        bottom: 25px;
        left: 4px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 2px solid black;
    }
    .element{
        width: 70%;
        height: 70px;
        position: relative;
        bottom: 8px;
    }

    #mail , #num , #abon , #naiss {
        position: relative;
        left: 10px;
    }

    #maili , #aboni , #numi  {
        position: relative;
        left: 6px;
        bottom: 8px;
    }
    #naissi {
        position: relative;
        left: 6px;
        bottom: 8px;
    }
    
}

@media screen and (min-width:680px) and (max-width:1279px) {
    form {
        position: relative;
        right: 30px;
    }
}
    
