@font-face {
    font-family: "Merriweather-Regular" !important;
    src: url(../Merriweather/Merriweather-Regular.ttf) format("truetype") !important;
}


* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Merriweather-Regular" !important;
}

.sup {
    align-content: center;
    
}

.voir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC2121;
    width: 25%;
    height: 70px;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 20px;
}

#affi {
    background-color: #CC767F;
    color: #fff;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#nom1{
    position: relative;
    left: 20px;
    width: 100px;

}

#prenom1 {
    position: relative;
    left: 100px;
    width: 70px;
}

#numero1 {
    position: relative;
    left:200px;
    width: 80px;
}

#mail1 {
    position: relative;
    left: 300px;
}

@media screen and (max-width : 679px) {

    .voir {
        width: 70%;
      
        margin-bottom: 20px;
    }
   
    #affi {
       width: 90%;
   }
   #mail1{
       display: none;
   }
    #nom1{
        position: relative;
        left: 0;
        width: 80px;
    }
    #prenom1 {
        position: relative;
        left: 30px;
        width: 80px;
    }
    #numero1 {
        position: relative;
        left: 80px;
        width: 80px;
    }
}

@media screen and (min-width:680px) and (max-width:1279px) {
    #affi {
        background-color: #CC767F;
        color: #fff;
        width: 90%;
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}
